<div class="row">
    <input type="search" class="search form-control" [(ngModel)]="queryString" placeholder="Search By Title">
    <div class="col-4" style=" padding-top:56px;" *ngFor="let item of productList | filterdata: queryString : 'title'; let i = index">
        <h4>
            {{item.title}}
        </h4>
        <img class="img-thumbnail" [src]="item.img" alt="Random slide">
        <p>
            {{item.date}}
            <small> {{item.txt}}</small>
        </p>



    </div>
</div>